{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'CSS/2_SMS_Reservation_CSS.css' %}">
    <title>Reservation</title>
</head>

{% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="msg" >
            <button type="button" class="close" onclick=delete_element() aria-label="Close">
                <span aria-hidden="True">&times;</span>
            </button>
            {{ message }}
        </div>
    </div>
    {% endfor %}

<header>
    
    <script>
        function delete_element(){
            const id = document.getElementById('msg');
            id.remove()
        }
    </script>
    <img class="logo" src="{% static 'MEDIA/left.png' %}" alt="logo" onclick="window.location.assign('homepage')">
    <nav>
        <ul class="nav">
            <h1 class="text">SUNBEAM RESORT</h1>
        </ul>
    </nav>
    <img class="logo" src="{% static 'MEDIA/right.png' %}" alt="logo" onclick="window.location.assign('homepage')">

</header>



<body style = "background-image:url('{% static 'Media/bg2.jpg'%}');">
    <script src="{% static 'JAVA/2_SMS_Reservation_Script.js'%}"></script>
    <div class="row">
        <div class="leftcolumn">
            <!-- Room 1 -->
            <div class="card">
                <div class="card2">
                    <h2 class="pdetails">Room No. 1 - The AMETHYST</h2>
                    <h3 class="pdetails">₱ 2,000.00</h3>
                    <div class="inside_leftcolumn">
                        <img class="fakeimage" src="{% static 'MEDIA/room_1.jfif' %}" alt="logo">
                    </div>
                    <div class="inside_rightcolumn">
                        <p>Welcome to our <b>AMETYST</b> Room, you can relax in absolute luxury (60 sq. m). 
                            With modern decor and state-of-the-art refinement, our beautifully designed rooms greet you.</p>
                        <button type="button" class=" button button2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal1">Room Info</button>
                    </div>
                </div>
                <button class="button button1" onclick=room1()>Select</button>
            </div>

            <!-- Room 1 Modal -->
            <div class="modal" id="myModal1">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">The AMETHYST</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>
                            •&nbsp;&nbsp; &nbsp;Room size (sqm) : 60 sqm<br>
                            •&nbsp;&nbsp; &nbsp;Spacious Acessible Bathroom<br>
                            •&nbsp;&nbsp; &nbsp;Some Lowered features and grab bars for easy accessibility <br>
                            •&nbsp;&nbsp; &nbsp;Intelligent Toilet Bowl<br>
                            •&nbsp;&nbsp; &nbsp;Hairdryer<br>
                            •&nbsp;&nbsp; &nbsp;Feather bed components<br>
                            •&nbsp;&nbsp; &nbsp;100% Cotton bed linens<br>
                            •&nbsp;&nbsp; &nbsp;Luxury microfiber terry bathrobes<br>
                            •&nbsp;&nbsp; &nbsp;Automated personal minibar<br>
                            •&nbsp;&nbsp; &nbsp;In-room safety deposit box<br>
                            •&nbsp;&nbsp; &nbsp;Weighing Scale<br>
                            •&nbsp;&nbsp; &nbsp;Coffee and tea making facilities<br>
                            •&nbsp;&nbsp; &nbsp;Digivalet Service (a tablet-based solution for room controls, hospitality requests, and resort information)<br>
                            •&nbsp;&nbsp; &nbsp;Welcome Amenities
                        </p>					  
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
    
            <!-- ----------------------------------------------------------------------------------------------------------------------------- -->

            <!-- Room 2 -->
            <div class="card">
                <div class="card2">
                    <h2 class="pdetails">Room No. 2 - The SAPPHIRE</h2>
                    <h3 class="pdetails">₱ 2,500.00</h3>
                    <div class="inside_leftcolumn">
                        <img class="fakeimage" src="{% static 'MEDIA/room_2.png' %}" alt="logo">
                    </div>
                    <div class="inside_rightcolumn">
                        <p>Welcome to our <b>SAPPHIRE</b> Room, you can relax in absolute luxury (60 sq. m). 
                            With modern decor and state-of-the-art refinement, our beautifully designed rooms greet you.</p>
                        <button type="button" class=" button button2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2">Room Info</button>
                    </div>
                </div>
                <button class="button button1" onclick=room2()>Select</button>
            </div>

            <!-- Room 2 Modal -->
            <div class="modal" id="myModal2">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">The SAPPHIRE</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>
                            •&nbsp;&nbsp; &nbsp;Room size (sqm) : 60 sqm<br>
                            •&nbsp;&nbsp; &nbsp;Spacious Acessible Bathroom with Bathtub<br>
                            •&nbsp;&nbsp; &nbsp;Intelligent Toilet Bowl<br>
                            •&nbsp;&nbsp; &nbsp;Hairdryer<br>
                            •&nbsp;&nbsp; &nbsp;Feather bed components<br>
                            •&nbsp;&nbsp; &nbsp;100% Cotton bed linens<br>
                            •&nbsp;&nbsp; &nbsp;Luxury microfiber terry bathrobes<br>
                            •&nbsp;&nbsp; &nbsp;Walk-In Closet<br>
                            •&nbsp;&nbsp; &nbsp;Automated personal minibar<br>
                            •&nbsp;&nbsp; &nbsp;In-room safety deposit box<br>
                            •&nbsp;&nbsp; &nbsp;Weighing Scale<br>
                            •&nbsp;&nbsp; &nbsp;Coffee and tea making facilities<br>
                            •&nbsp;&nbsp; &nbsp;Digivalet Service (a tablet-based solution for room controls, hospitality requests, and resort information)<br>
                            •&nbsp;&nbsp; &nbsp;Welcome Amenities
                        </p>					    
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
    

            <!-- ----------------------------------------------------------------------------------------------------------------------------- -->

            <!-- Room 3 -->
            <div class="card">
                <div class="card2">
                    <h2 class="pdetails">Room No. 3 -The MONTANA</h2>
                    <h3 class="pdetails">₱ 3,000.00</h3>
                    <div class="inside_leftcolumn">
                        <img class="fakeimage" src="{% static 'MEDIA/room_3.jfif' %}" alt="logo">
                    </div>
                    <div class="inside_rightcolumn">
                        <p>Welcome to our <b>MONTANA</b> Room, you can relax in absolute luxury (75 sq. m). 
                            With modern decor and state-of-the-art refinement, our beautifully designed rooms greet you.</p>
                        <button type="button" class=" button button2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal3">Room Info</button>
                    </div>
                </div>
                <button class="button button1" onclick=room3()>Select</button>
            </div>

            <!-- Room 3 Modal -->
            <div class="modal" id="myModal3">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">The MONTANA</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>
                            •&nbsp;&nbsp; &nbsp;Room size (sqm) : 75 sqm<br>
                            •&nbsp;&nbsp; &nbsp;Spacious Acessible Bathroom with Bathtub<br>
                            •&nbsp;&nbsp; &nbsp;Intelligent Toilet Bowl<br>
                            •&nbsp;&nbsp; &nbsp;Hairdryer<br>
                            •&nbsp;&nbsp; &nbsp;Feather bed components<br>
                            •&nbsp;&nbsp; &nbsp;100% Cotton bed linens<br>
                            •&nbsp;&nbsp; &nbsp;Luxury microfiber terry bathrobes<br>
                            •&nbsp;&nbsp; &nbsp;Walk-In Closet<br>
                            •&nbsp;&nbsp; &nbsp;Automated personal minibar<br>
                            •&nbsp;&nbsp; &nbsp;In-room safety deposit box<br>
                            •&nbsp;&nbsp; &nbsp;Weighing Scale<br>
                            •&nbsp;&nbsp; &nbsp;Coffee and tea making facilities<br>
                            •&nbsp;&nbsp; &nbsp;Digivalet Service (a tablet-based solution for room controls, hospitality requests, and resort information)<br>
                            •&nbsp;&nbsp; &nbsp;Welcome and Turndown Amenities
                        </p>					   
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
    
            
            <!-- ----------------------------------------------------------------------------------------------------------------------------- -->
            
            <!-- Room 4 -->
            <div class="card">
                <div class="card2">
                    <h2 class="pdetails">Room No. 4 - The AQUAMARINE</h2>
                    <h3 class="pdetails">₱ 3,500.00</h3>
                    <div class="inside_leftcolumn">
                        <img class="fakeimage" src="{% static 'MEDIA/room_4.jfif' %}" alt="logo">
                    </div>
                    <div class="inside_rightcolumn">
                        <p>Welcome to our <b>SAPPHIRE</b> Room, you can relax in absolute luxury (90 sq. m). 
                            With modern decor and state-of-the-art refinement, our beautifully designed rooms greet you.</p>
                        <button type="button" class=" button button2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal4">Room Info</button>
                    </div>
                </div>
                <button class="button button1" onclick=room4()>Select</button>
            </div>

            <!-- Room 4 Modal -->
            <div class="modal" id="myModal4">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">The AQUAMARINE</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>
                            •&nbsp;&nbsp; &nbsp;Room size (sqm) : 90 sqm<br>
                            •&nbsp;&nbsp; &nbsp;Living Room<br>
                            •&nbsp;&nbsp; &nbsp;Spacious Acessible Bathroom with Bathtub<br>
                            •&nbsp;&nbsp; &nbsp;Intelligent Toilet Bowl<br>
                            •&nbsp;&nbsp; &nbsp;Hairdryer<br>
                            •&nbsp;&nbsp; &nbsp;Feather bed components<br>
                            •&nbsp;&nbsp; &nbsp;100% Cotton bed linens<br>
                            •&nbsp;&nbsp; &nbsp;Luxury microfiber terry bathrobes<br>
                            •&nbsp;&nbsp; &nbsp;Walk-In Closet<br>
                            •&nbsp;&nbsp; &nbsp;Automated Private Bar<br>
                            •&nbsp;&nbsp; &nbsp;In-room safety deposit box<br>
                            •&nbsp;&nbsp; &nbsp;Weighing Scale<br>
                            •&nbsp;&nbsp; &nbsp;Coffee and tea making facilities<br>
                            •&nbsp;&nbsp; &nbsp;Digivalet Service (a tablet-based solution for room controls, hospitality requests, and resort information)<br>
                            •&nbsp;&nbsp; &nbsp;Welcome and Turndown Amenities
                        </p>					   		  
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
    

            
            <!-- ----------------------------------------------------------------------------------------------------------------------------- -->

            <!-- Room 5 -->
            <div class="card">
                <div class="card2">
                    <h2 class="pdetails">Room No. 5 - The TURQUIOSE</h2>
                    <h3 class="pdetails">₱ 4,000.00</h3>
                    <div class="inside_leftcolumn">
                        <img class="fakeimage" src="{% static 'MEDIA/room_5.jpg' %}" alt="logo">
                    </div>
                    <div class="inside_rightcolumn">
                        <p>Welcome to our <b>SAPPHIRE</b> Room, you can relax in absolute luxury (120 sq. m). 
                            With modern decor and state-of-the-art refinement, our beautifully designed rooms greet you.</p>
                        <button type="button" class=" button button2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal5">Room Info</button>
                    </div>
                </div>
                <button class="button button1" onclick=room5()>Select</button>
            </div>

            <!-- Room 5 Modal -->
            <div class="modal" id="myModal5">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">The TURQUIOSE</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>
                            •&nbsp;&nbsp; &nbsp;Room size (sqm) : 120 sqm<br>
                            •&nbsp;&nbsp; &nbsp;Living Room<br>
                            •&nbsp;&nbsp; &nbsp;Powder Room<br>
                            •&nbsp;&nbsp; &nbsp;Bar Area<br>
                            •&nbsp;&nbsp; &nbsp;Spacious Acessible Bathroom with Bathtub<br>
                            •&nbsp;&nbsp; &nbsp;Intelligent Toilet Bowl<br>
                            •&nbsp;&nbsp; &nbsp;Hairdryer<br>
                            •&nbsp;&nbsp; &nbsp;Feather bed components<br>
                            •&nbsp;&nbsp; &nbsp;100% Cotton bed linens<br>
                            •&nbsp;&nbsp; &nbsp;Luxury microfiber terry bathrobes<br>
                            •&nbsp;&nbsp; &nbsp;Walk-In Closet<br>
                            •&nbsp;&nbsp; &nbsp;Automated Private Bar<br>
                            •&nbsp;&nbsp; &nbsp;In-room safety deposit box<br>
                            •&nbsp;&nbsp; &nbsp;Weighing Scale<br>
                            •&nbsp;&nbsp; &nbsp;Coffee and tea making facilities<br>
                            •&nbsp;&nbsp; &nbsp;Digivalet Service (a tablet-based solution for room controls, hospitality requests, and resort information)<br>
                            •&nbsp;&nbsp; &nbsp;Welcome and Turndown Amenities
                        </p>					 
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
    

            <!-- ----------------------------------------------------------------------------------------------------------------------------- -->

            <!-- Room 6 -->
            <div class="card">
                <div class="card2">
                    <h2 class="pdetails">Room No. 6 - The PACIFIC</h2>
                    <h3 class="pdetails">₱ 4,500.00</h3>
                    <div class="inside_leftcolumn">
                        <img class="fakeimage" src="{% static 'MEDIA/room_6.jfif' %}" alt="logo">
                    </div>
                    <div class="inside_rightcolumn">
                        <p>Welcome to our <b>SAPPHIRE</b> Room, you can relax in absolute luxury (150 sq. m). 
                            With modern decor and state-of-the-art refinement, our beautifully designed rooms greet you.</p>
                        <button type="button" class=" button button2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal6">Room Info</button>
                    </div>
                </div>
                <button class="button button1" onclick=room6()>Select</button>
            </div>

            <!-- Room 6 Modal -->
            <div class="modal" id="myModal6">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title"> The PACIFIC</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>
                            •&nbsp;&nbsp; &nbsp;Room size (sqm) : 150 sqm<br>
                            •&nbsp;&nbsp; &nbsp;Living Room<br>
                            •&nbsp;&nbsp; &nbsp;Dining Room<br>
                            •&nbsp;&nbsp; &nbsp;Powder Room<br>
                            •&nbsp;&nbsp; &nbsp;Bar Area<br>
                            •&nbsp;&nbsp; &nbsp;Spacious Acessible Bathroom with Bathtub<br>
                            •&nbsp;&nbsp; &nbsp;Intelligent Toilet Bowl<br>
                            •&nbsp;&nbsp; &nbsp;Hairdryer<br>
                            •&nbsp;&nbsp; &nbsp;Feather bed components<br>
                            •&nbsp;&nbsp; &nbsp;100% Cotton bed linens<br>
                            •&nbsp;&nbsp; &nbsp;Luxury microfiber terry bathrobes<br>
                            •&nbsp;&nbsp; &nbsp;Walk-In Closet<br>
                            •&nbsp;&nbsp; &nbsp;Automated Private Bar<br>
                            •&nbsp;&nbsp; &nbsp;In-room safety deposit box<br>
                            •&nbsp;&nbsp; &nbsp;Weighing Scale<br>
                            •&nbsp;&nbsp; &nbsp;Coffee and tea making facilities<br>
                            •&nbsp;&nbsp; &nbsp;Digivalet Service (a tablet-based solution for room controls, hospitality requests, and resort information)<br>
                            •&nbsp;&nbsp; &nbsp;Welcome and Turndown Amenities
                        </p>					   		  
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
    

            <!-- ----------------------------------------------------------------------------------------------------------------------------- -->

            <!-- Room 7 -->
            <div class="card">
                <div class="card2">
                    <h2 class="pdetails">Room No. 7 - The TROPICAL</h2>
                    <h3 class="pdetails">₱ 5,000.00</h3>
                    <div class="inside_leftcolumn">
                        <img class="fakeimage" src="{% static 'MEDIA/room_7.jfif' %}" alt="logo">
                    </div>
                    <div class="inside_rightcolumn">
                        <p>Welcome to our <b>SAPPHIRE</b> Room, you can relax in absolute luxury (180 sq. m). 
                            With modern decor and state-of-the-art refinement, our beautifully designed rooms greet you.</p>
                        <button type="button" class=" button button2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal7">Room Info</button>
                    </div>
                </div>
                <button class="button button1" onclick=room7()>Select</button>
            </div>

            <!-- Room 7 Modal -->
            <div class="modal" id="myModal7">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">The TROPICAL</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>
                            •&nbsp;&nbsp; &nbsp;Room size (sqm) : 180 sqm<br>
                            •&nbsp;&nbsp; &nbsp;Living Room<br>
                            •&nbsp;&nbsp; &nbsp;Powder Room<br>
                            •&nbsp;&nbsp; &nbsp;Bar Area<br>
                            •&nbsp;&nbsp; &nbsp;Spacious Acessible Bathroom with Bathtub<br>
                            •&nbsp;&nbsp; &nbsp;Intelligent Toilet Bowl<br>
                            •&nbsp;&nbsp; &nbsp;Hairdryer<br>
                            •&nbsp;&nbsp; &nbsp;Feather bed components<br>
                            •&nbsp;&nbsp; &nbsp;100% Cotton bed linens<br>
                            •&nbsp;&nbsp; &nbsp;Luxury microfiber terry bathrobes<br>
                            •&nbsp;&nbsp; &nbsp;Walk-In Closet<br>
                            •&nbsp;&nbsp; &nbsp;Automated Private Bar<br>
                            •&nbsp;&nbsp; &nbsp;In-room safety deposit box<br>
                            •&nbsp;&nbsp; &nbsp;Weighing Scale<br>
                            •&nbsp;&nbsp; &nbsp;Coffee and tea making facilities<br>
                            •&nbsp;&nbsp; &nbsp;Digivalet Service (a tablet-based solution for room controls, hospitality requests, and resort information)<br>
                            •&nbsp;&nbsp; &nbsp;Welcome and Turndown Amenities
                        </p>					     
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
    

            <!-- ----------------------------------------------------------------------------------------------------------------------------- -->

            <!-- Room 8 -->
            <div class="card">
                <div class="card2">
                    <h2 class="pdetails">Room No. 8 - The HARBOR</h2>
                    <h3 class="pdetails">₱ 5,500.00</h3>
                    <div class="inside_leftcolumn">
                        <img class="fakeimage" src="{% static 'MEDIA/room_8.jfif' %}" alt="logo">
                    </div>
                    <div class="inside_rightcolumn">
                        <p>Welcome to our <b>SAPPHIRE</b> Room, you can relax in absolute luxury (200 sq. m). 
                            With modern decor and state-of-the-art refinement, our beautifully designed rooms greet you.</p>
                        <button type="button" class=" button button2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal8">Room Info</button>
                    </div>
                </div>
                <button class="button button1" onclick=room8()>Select</button>
            </div>

            <!-- Room 8 Modal -->
            <div class="modal" id="myModal8">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">The HARBOR</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>
                            •&nbsp;&nbsp; &nbsp;Room size (sqm) : 200 sqm<br>
                            •&nbsp;&nbsp; &nbsp;Living Room<br>
                            •&nbsp;&nbsp; &nbsp;Powder Room<br>
                            •&nbsp;&nbsp; &nbsp;Massage Room<br>
                            •&nbsp;&nbsp; &nbsp;Bar Area<br>
                            •&nbsp;&nbsp; &nbsp;Spacious Acessible Bathroom with Bathtub<br>
                            •&nbsp;&nbsp; &nbsp;Intelligent Toilet Bowl<br>
                            •&nbsp;&nbsp; &nbsp;Hairdryer<br>
                            •&nbsp;&nbsp; &nbsp;Feather bed components<br>
                            •&nbsp;&nbsp; &nbsp;100% Cotton bed linens<br>
                            •&nbsp;&nbsp; &nbsp;Luxury microfiber terry bathrobes<br>
                            •&nbsp;&nbsp; &nbsp;Walk-In Closet<br>
                            •&nbsp;&nbsp; &nbsp;Automated Private Bar<br>
                            •&nbsp;&nbsp; &nbsp;In-room safety deposit box<br>
                            •&nbsp;&nbsp; &nbsp;Weighing Scale<br>
                            •&nbsp;&nbsp; &nbsp;Coffee and tea making facilities<br>
                            •&nbsp;&nbsp; &nbsp;Digivalet Service (a tablet-based solution for room controls, hospitality requests, and resort information)<br>
                            •&nbsp;&nbsp; &nbsp;Welcome and Turndown Amenities
                        </p>					   	  
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
    

            <!-- ----------------------------------------------------------------------------------------------------------------------------- -->

            <!-- Room 9 -->
            <div class="card">
                <div class="card2">
                    <h2 class="pdetails">Room No. 9 - The SAILOR</h2>
                    <h3 class="pdetails">₱ 6,000.00</h3>
                    <div class="inside_leftcolumn">
                        <img class="fakeimage" src="{% static 'MEDIA/room_9.jpg' %}" alt="logo">
                    </div>
                    <div class="inside_rightcolumn">
                        <p>Welcome to our <b>SAPPHIRE</b> Room, you can relax in absolute luxury (300 sq. m). 
                            With modern decor and state-of-the-art refinement, our beautifully designed rooms greet you.</p>
                        <button type="button" class=" button button2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal9">Room Info</button>
                    </div>
                </div>
                <button class="button button1" onclick=room9()>Select</button>
            </div>

            <!-- Room 9 Modal -->
            <div class="modal" id="myModal9">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">The SAILOR</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>
                            •&nbsp;&nbsp; &nbsp;Room size (sqm) : 300 sqm<br>
                            •&nbsp;&nbsp; &nbsp;Living Room<br>
                            •&nbsp;&nbsp; &nbsp;Dining Room<br>
                            •&nbsp;&nbsp; &nbsp;Powder Room<br>
                            •&nbsp;&nbsp; &nbsp;Entertainment Room<br>
                            •&nbsp;&nbsp; &nbsp;Massage Room<br>
                            •&nbsp;&nbsp; &nbsp;Private Bar<br>
                            •&nbsp;&nbsp; &nbsp;Spacious Acessible Bathroom with Bathtub<br>
                            •&nbsp;&nbsp; &nbsp;Intelligent Toilet Bowl<br>
                            •&nbsp;&nbsp; &nbsp;Jet Tub<br>
                            •&nbsp;&nbsp; &nbsp;Hairdryer<br>
                            •&nbsp;&nbsp; &nbsp;Feather bed components<br>
                            •&nbsp;&nbsp; &nbsp;Motorized curtains<br>
                            •&nbsp;&nbsp; &nbsp;Italian Linens<br>
                            •&nbsp;&nbsp; &nbsp;Walk-In Closet<br>
                            •&nbsp;&nbsp; &nbsp;Desk and wireless phone<br>
                            •&nbsp;&nbsp; &nbsp;In-room safety deposit box<br>
                            •&nbsp;&nbsp; &nbsp;Weighing Scale<br>
                            •&nbsp;&nbsp; &nbsp;Coffee and tea making facilities<br>
                            •&nbsp;&nbsp; &nbsp;Digivalet Service (a tablet-based solution for room controls, hospitality requests, and resort information)<br>
                            •&nbsp;&nbsp; &nbsp;Welcome and Turndown Amenities
                        </p>					   			  
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
    

            <!-- ----------------------------------------------------------------------------------------------------------------------------- -->

            <!-- Room 10 -->
            <div class="card">
                <div class="card2">
                    <h2 class="pdetails">Room No. 10 - The ATLANTIS</h2>
                    <h3 class="pdetails">₱ 10,000.00</h3>
                    <div class="inside_leftcolumn">
                        <img class="fakeimage" src="{% static 'MEDIA/room.jpg' %}" alt="logo">
                    </div>
                    <div class="inside_rightcolumn">
                        <p>Welcome to our <b>SAPPHIRE</b> Room, you can relax in absolute luxury (560 sq. m). 
                            With modern decor and state-of-the-art refinement, our beautifully designed rooms greet you.</p>
                        <button type="button" class=" button button2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal10">Room Info</button>
                    </div>
                </div>
                <button class="button button1" onclick=room10()>Select</button>
            </div>
        </div>
        
        <!-- Room 10 Modal -->
        <div class="modal" id="myModal10">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">The ATLANTIS</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                    •&nbsp;&nbsp; &nbsp;Room size (sqm) : 560 sqm<br>
                    •&nbsp;&nbsp; &nbsp;Living Room<br>
                    •&nbsp;&nbsp; &nbsp;Dining Room<br>
                    •&nbsp;&nbsp; &nbsp;Powder Room<br>
                    •&nbsp;&nbsp; &nbsp;Personal Fitness Gym<br>
                    •&nbsp;&nbsp; &nbsp;Entertainment Room<br>
                    •&nbsp;&nbsp; &nbsp;Massage Room<br>
                    •&nbsp;&nbsp; &nbsp;Private Bar<br>
                    •&nbsp;&nbsp; &nbsp;Pantry<br>
                    •&nbsp;&nbsp; &nbsp;Butler`s Room<br>
                    •&nbsp;&nbsp; &nbsp;Spacious Acessible Bathroom with Bathtub<br>
                    •&nbsp;&nbsp; &nbsp;Intelligent Toilet Bowl<br>
                    •&nbsp;&nbsp; &nbsp;Sauna<br>
                    •&nbsp;&nbsp; &nbsp;Vestibule<br>
                    •&nbsp;&nbsp; &nbsp;Jet Tub<br>
                    •&nbsp;&nbsp; &nbsp;Hairdryer<br>
                    •&nbsp;&nbsp; &nbsp;Feather bed components<br>
                    •&nbsp;&nbsp; &nbsp;Motorized curtains<br>
                    •&nbsp;&nbsp; &nbsp;Italian Linens<br>
                    •&nbsp;&nbsp; &nbsp;Walk-In Closet<br>
                    •&nbsp;&nbsp; &nbsp;Desk and wireless phone<br>
                    •&nbsp;&nbsp; &nbsp;In-room safety deposit box<br>
                    •&nbsp;&nbsp; &nbsp;Weighing Scale<br>
                    •&nbsp;&nbsp; &nbsp;Coffee and tea making facilities<br>
                    •&nbsp;&nbsp; &nbsp;Digivalet Service (a tablet-based solution for room controls, hospitality requests, and resort information)<br>
                    •&nbsp;&nbsp; &nbsp;Welcome and Turndown Amenities			  
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>


        <div class="rightcolumn">
            <div class="card">
                <div class="card3">
                    <h2 style="text-align: center;">Make your Reservation</h2>
                </div>
                <div class="card2">
                    <div class="row">
                        <div class="inside_leftcolumn2">
                            <form action="" method="POST" id="form" name="form">
                            {% csrf_token %}
                            <label for="fname" id="label1">First name:</label>
                            <br>
                        </div>
                        <div class="inside_rightcolumn2">
                            <input type="text" id="fname" name="fname" class="input" required>
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inside_leftcolumn2">
                            <label for="lname" id="label1">Last name:</label>
                            <br>
                        </div>
                        <div class="inside_rightcolumn2">
                            <input type="text" id="lname" name="lname" class="input" required>
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inside_leftcolumn2">
                            <label for="cellnum" id="label1">Cell number:</label>
                            <br>
                        </div>
                        <div class="inside_rightcolumn2">
                            <input type="tel" id="cellnum" name="cellnum" class="input" required>
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inside_leftcolumn2">
                            <label for="email" id="label1">Email:</label>
                            <br>
                        </div>
                        <div class="inside_rightcolumn2">
                            <input type="email" id="email" name="email" class="input" required>
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inside_leftcolumn2">
                            <label for="rooms" id="label1">Rooms:</label>
                            <br>
                        </div>
                        <div class="inside_rightcolumn2">
                            <select name="Room Name" id="rooms" class="input"  required>
									<option value="AMETHYST" id="r1">AMETHYST</option>
									<option value="SAPPHIRE" id="r2">SAPPHIRE</option>
									<option value="MONTANA" id="r3">MONTANA</option>
									<option value="AQUAMARINE" id="r4">AQUAMARINE</option>
									<option value="TURQUIOSE" id="r5">TURQUIOSE</option>
									<option value="PACIFIC" id="r6">PACIFIC</option>
									<option value="TROPICAL" id="r7">TROPICAL</option>
									<option value="HARBOR" id="r8">HARBOR</option>
									<option value="SAILOR" id="r9">SAILOR</option>
									<option value="ATLANTIS" id="r10">ATLANTIS</option>
								</select>
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inside_leftcolumn2">
                            <label for="numguest" id="label1">Guest:</label>
                            <br>
                        </div>
                        <div class="inside_rightcolumn2">
                            <input type="number" id="numguest" name="numguest" class="input"  min="1" max="5" value="1" required>
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inside_leftcolumn2">
                            <label for="cid" id="label1">Check In Date:</label>
                            <br>
                        </div>
                        <div class="inside_rightcolumn2">
                            <input type="date" id="cidate" name="cid" class="input"  required>
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inside_leftcolumn2">
                            <label for="cod" id="label1">Check Out Date:</label>
                            <br>
                        </div>
                        <div class="inside_rightcolumn2">
                            <input type="date" id="codate" name="cod" class="input"  required>
                            <br>
                            <br>
                        </div>
                    </div>

                    <h3 id="activities">Activities</h3>

                    <div class="row">
                        <div class="inside_leftcolumn3">
                            <input type="checkbox" id="act1" name="act1" value="Activity 1">
                            <label for="act1" id="act2"> Kayak </label><br>
                            <input type="checkbox" id="act2x" name="act2" value="Activity 2">
                            <label for="act2" id="act2">Diving </label><br>
                        </div>
                        <div class="inside_rightcolumn3">
                            <input type="checkbox" id="act3" name="act3" value="Activity 3">
                            <label for="act3" id="act2"> Island Hopping </label><br>
                            <input type="checkbox" id="act4" name="act4" value="Activity 4">
                            <label for="act4" id="act2"> Night Diving</label><br>
                        </div>
                    </div>
                    <input type="number" id="total_days" name="total_days" class="input" hidden>
                    <input type="text" id="activity" name="activity" class="input" value="No Activity" hidden>
                    <input type="text" id="status" name="status" class="input" hidden>
                    <input type="number" id="price" name="price" class="input" hidden>
                    <input type="text" id="random_code" name="random_code" class="input" hidden>
                    <br>
                    <br>
                    </form>
                    <div class="row">
                        <div class="inside_leftcolumn3">
                            <button class=" button button3" onclick=cancel_input()>Cancel</button>
                        </div>
                        <div class="inside_rightcolumn3">
                            <button class="button button1" onclick=verify()>Proceed</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>&copy; All Rights Reserved.</p>
    </div>
    

</body>

</html>