{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'CSS/3_SMS_Billing_CSS.css' %}">


    <title>SUNBEAM RESORT</title>

</head>

<header>
    <img class="logo" src="{% static 'MEDIA/left.png' %}"alt="logo">
    <nav>
        <ul class="nav">
            <h1 class="text">SUNBEAM RESORT</h1>
        </ul>
    </nav>
    <img class="logo" src="{% static 'MEDIA/right.png' %}" alt="logo">

</header>

<body style = "background-image:url('{% static 'MEDIA/bg2.jpg'%}');">

    <section>
        <div class="leftbox">
            <div class="row">
                <div class="innerleftleft">
                    <h4> Name: </h4>
                </div>
                <div class="innerrightleft">
                    <h4 style="color: white;"> {{customer.first_name}} {{customer.last_name}} </h4>
                </div>
            </div>
            
            <div class="row">
                <div class="innerleftleft">
                    <h4> Check In Date: </h4>
                </div>
                <div class="innerrightleft">
                    <h4 style="color: white;"> {{customer.checkin_date}} </h4>
                </div>
            </div>

            <div class="row">
                <div class="innerleftleft">
                    <h4> Check Out Date: </h4>
                </div>
                <div class="innerrightleft">
                    <h4 style="color: white;"> {{customer.checkout_date}} </h4>
                </div>
            </div>

            <div class="row">
                <div class="innerleftleft">
                    <h4> Room Name: </h4>
                </div>
                <div class="innerrightleft">
                    <h4 style="color: white;"> {{customer.room_name_id}} </h4>
                </div>
            </div>

            <div class="row">
                <div class="innerleftleft">
                    <h4> Number of Guest: </h4>
                </div>
                <div class="innerrightleft">
                    <h4 style="color: white;"> {{customer.guest}} </h4>
                </div>
            </div>

            <div class="row">
                <div class="innerleftleft">
                    <h4> Availed Activity: </h4>
                </div>
                <div class="innerrightleft">
                    {% if customer.activity == "Activity Set 15" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Kayak </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Island Hoping </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Night Diving </h5>
                    {% elif customer.activity == "Activity Set 7" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Island Hoping </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Night Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 11" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Kayak </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Island Hoping </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Night Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 13" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Kayak </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Night Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 14" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Kayak </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Island Hoping </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 9" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Kayak </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Night Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 10" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Kayak </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Island Hoping </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 12" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Kayak </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 3" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Island Hoping </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Night Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 5" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Night Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 6" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Island Hoping </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 1" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Night Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 2" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Island Hoping </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 4" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Diving </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% elif customer.activity == "Activity Set 8" %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> Kayak </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% else %}
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    <h5 id="availedact" style="color: white; font-family: Ubuntu, sans-serif;"> ---------- </h5>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="rightbox">
            <h4> Price Breakdown</h4>
            <div class="row">
                <div class="innerleftleft">
                    <h4> Stay In Price: </h4>
                </div>
                <div class="innerrightleft">
                    {% if customer.room_name_id == "AMETHYST" %}
                    <h4> PHP 2,000.00  *  {{customer.num_of_days}} Day/s</h4>
                    {% elif customer.room_name_id == "SAPPHIRE" %}
                    <h4> PHP 2,500.00  *  {{customer.num_of_days}} Day/s</h4>
                    {% elif customer.room_name_id == "MONTANA" %}
                    <h4> PHP 3,000.00  *  {{customer.num_of_days}} Day/s</h4>
                    {% elif customer.room_name_id == "AQUAMARINE" %}
                    <h4> PHP 3,500.00  *  {{customer.num_of_days}} Day/s</h4>
                    {% elif customer.room_name_id == "TURQUIOSE" %}
                    <h4> PHP 4,000.00  *  {{customer.num_of_days}} Day/s</h4>
                    {% elif customer.room_name_id == "PACIFIC" %}
                    <h4> PHP 4,500.00  *  {{customer.num_of_days}} Day/s</h4>
                    {% elif customer.room_name_id == "TROPICAL" %}
                    <h4> PHP 5,000.00  *  {{customer.num_of_days}} Day/s</h4>
                    {% elif customer.room_name_id == "HARBOR" %}
                    <h4> PHP 5,500.00  *  {{customer.num_of_days}} Day/s</h4>
                    {% elif customer.room_name_id == "SAILOR" %}
                    <h4> PHP 6,000.00  *  {{customer.num_of_days}} Day/s</h4>
                    {% elif customer.room_name_id == "ATLANTIS" %}
                    <h4> PHP 10,000.00  *  {{customer.num_of_days}} Day/s</h4>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="innerleftleft">
                    <h4> Activities: </h4>
                </div>
                <div class="innerrightleft">
                    {% if customer.activity == "Activity Set 15" %}
                    <h4> PHP 2,000.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 7" %}
                    <h4> PHP 1,500.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 11" %}
                    <h4> PHP 1,500.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 13" %}
                    <h4> PHP 1,500.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 14" %}
                    <h4> PHP 1,500.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 9" %}
                    <h4> PHP 1,000.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 10" %}
                    <h4> PHP 1,000.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 12" %}
                    <h4> PHP 1,000.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 3" %}
                    <h4> PHP 1,000.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 5" %}
                    <h4> PHP 1,000.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 6" %}
                    <h4> PHP 1,000.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 1" %}
                    <h4> PHP 500.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 2" %}
                    <h4> PHP 500.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 4" %}
                    <h4> PHP 500.00  *  {{customer.guest}} Person/s</h4>
                    {% elif customer.activity == "Activity Set 8" %}
                    <h4> PHP 500.00  *  {{customer.guest}} Person/s</h4>
                    {% else %}
                    <h4> PHP 0000.00  *  {{customer.guest}} Person/s</h4>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="innerleftleft">
                    <h4> Amenities: </h4>
                </div>
                <div class="innerrightleft">
                    <h4> PHP 500.00 </h4>
                </div>
            </div>

            <div class="row">
                <div class="innerleftleft">
                    <h4> Environmental Fee: </h4>
                </div>
                <div class="innerrightleft">
                    <h4> PHP 250.00 </h4>
                </div>
            </div>

            <div class="row">
                <div class="innerleftleft">
                    <h4> Reservation Fee: </h4>
                </div>
                <div class="innerrightleft">
                    <h4> PHP 250.00 </h4>
                </div>
            </div>

            <div class="row">
                <div class="innerleftleft">
                    <h4> Total: </h4>
                </div>
                <div class="innerrightleft">
                    <h4> PHP {{customer.price}}.00 </h4>
                </div>
            </div>

            <div class="row">
                <div class="innerleftleft">
                    <button class=" button button3" id="btn1" onclick="window.location.assign('homepage')">Cancel</button>
                </div>
                <div class="innerrightleft">
                    <button class=" button button1" id="btn2" onclick=" window.location.assign('confirmation')">Proceed</button>
                </div>
            </div>
        </div>

    </section>

</body>

</html>